@import "./abstracts/vars";
@import "./abstracts/mixins";
@import "./abstracts/normalize.scss";
@import "./components/title";
@import "./components/text";
@import "./layout/header";
@import "./blocks/main-block.scss";
@import "./blocks/info";
@import "./blocks/photocards";
@import "./blocks/photographer";
@import "./blocks/timetable";
@import "./components/rating";



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}