@mixin text ($fontSize, $fontWeight, $lineHeight, $color) {
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

@mixin block-text ($fontSize, $fontWeight, $lineHeight, $color) {
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}


@mixin media($width, $type:min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==max {
            $width: $width - 1px;
        }
    }

    @media (#{$type}-width: $width) {
        @content;
    }
}

@mixin background ($display: null) {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin flex ($justify-content: null, $align-items: null, $flex-wrap:null, $flex-direction: null) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
    flex-direction: $flex-direction;
}

@mixin pseudo ($display: block, $pos: absolute, $content: '') {
    display: $display;
    position: $pos;
    content: $content;
}