// Colors
$accentColor: #FC9B09;
$primaryColor: #fff;
$secondaryColor: #C7C7C7;
$textColor: #37373F;
$textColorLight: #B3B3B3;
$linkColor: #5286EC;


%container {
    width: 100%;
    padding: 0 15px;
    // border: 1px solid red;
    @media screen and (min-width: 576px) {
        padding: 0 35px;
    }
    @media screen and (min-width: 768px) {
        padding: 0 50px;
    }
    @media screen and (min-width: 1280px) {
        padding: 0 70px;
    }
    @media screen and (min-width: 1440px) {
        padding: 0 150px;
    }
    @media screen and (min-width: 1920px) {
        padding: 0 390px;
    }

}

$breakpoints: (
    xs:576px,
    sm:768px,
    md:1280px,
    lg:1440px,
    xxl:1920px
)

