.photocards {
    padding-top: 60px;

    .container {
        padding: 0px;
    }

    &__wrapper {
        @include flex(center, center, $flex-direction: column);
    }

    &__title {
        text-align: center;
        margin: 0 auto 32px;
        max-width: 266px;

        @include media (sm) {
            @include text (20px, 500, 29px, $textColor);
            text-align: left;
            margin-left: 50px;
            margin-bottom: 30px;
        }

        @include media (md) {
            @include text (28px, 500, 29px, $textColor);
            max-width: 315px;
            margin-bottom: 50px;
        }

        @include media (lg) {
            @include text (20px, 500, 29px, $textColor);
            max-width: 220px;
            margin-bottom: 35px;
            margin-left: 150px;
        }
        @include media (xxl) {
            margin-left: 400px;
        }   
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 15px;
        overflow-x: auto;
        width: 100%;
        padding-left: 15px;

        @include media(sm) {
            grid-template-columns: repeat(2, max-content);
            grid-template-rows: repeat(4, 1fr);
            justify-content: center;
            padding-left: 0px;
        }

        @include media(md) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            max-width: 100%;
            padding: 0 70px;
        }
        @include media (lg) {
            padding: 0 150px;
        }
        @include media (xxl) {
            padding: 0 390px;
        }
    }

    &__inner-img {
        border-radius: 4px;

        @include media(sm) {
            width: 100%;
        }

    }

    &__inner-img:first-child {
        margin-left: 0;
    }

    &__link {
        @include text (17px, 500, 25px, $linkColor);
        display: none;
        position: relative;

        @include media (sm) {
            display: block;
            padding-top: 15px;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            background-image: url('../images/photocards/arrow.svg');
            width: 11px;
            height: 6px;
            bottom: 9px;
            left: -18px;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            background-image: url('../images/photocards/arrow-2.png');
            width: 11px;
            height: 6px;
            bottom: 9px;
            right: -18px;
        }
    }
}