.photographer {
    padding-top:63px;
    .container {
        @extend %container;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;

        @include media (md) {
            grid-template-columns: 584px 1fr;
            grid-template-rows: 1fr 180px;
            grid-row-gap: 40px;
            grid-column-gap: 45px;
            padding-bottom: 50px;
            border-bottom: 0.5px solid #C7C7C7;
        }
    }

    &__inner {
        @include flex(center, center, $flex-direction: column);
    }

    &__pic {
        position: relative;
        min-width: 140px;
        width: 140px;
        height: 140px;
        @include media (md) {
            margin-top: 50px;
        }
    }

    &__pic::after {
        content: "";
        background-image: url(../images/photoghraper/heart.png);
        display: block;
        width: 31px;
        height: 27px;
        position: absolute;
        top: -15px;
        right: -75px;
    }

    &__img {
        width: 139px;
        height: 139px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    &__name {
        @include text (18px, 500, 22px, $textColor);
        margin-top: 18px;
        padding-bottom: 2px;
    }

    &__prof {
        @include text (14px, 400, 21px, $textColor);
        padding-bottom: 7px;
    }

    &__link {
        @include text (14px, 500, 21px, $linkColor);
        max-width: 229px;
        text-align: center;
        margin-bottom: 25px;
        @include media (md) {
            margin-bottom: 0px;
        }

        @include media (sm) {
            margin-bottom: 30px;
        }
    }

    &__content {
        margin-bottom: 2px;

        @include media (xs) {
            margin-bottom: 40px;
        }

        @include media (md) {
            order: -1;
            margin-bottom: 0px;
        }
    }

    &__title {
        margin-bottom: 14px;
        @include text (18px, 500, 21px, $textColor);
        @include media (md) {
            font-size: 18px;
        }
    }

    .photographer__title-second{
        margin-top: 20px;
    }

    &__text {
        @include text (16px, 400, 24px, $textColor);
        text-align: left;
    }

    &__text-first {
        margin-bottom: 25px;
    }

    &__text-second {
        padding-bottom: 20px;
    }

    &__content-link {
        @include text (16px, 500, 23px, $linkColor);
        position: relative;
        @include media (xs) {
            margin-bottom: 70px;
        }

        @include media (md) {
            margin-top: 100px;
        }


        &__link {
            padding-bottom: 70px;
        }


        &:after {
            content: "";
            position: absolute;
            display: block;
            background-image: url(../images/photocards/arrow.svg);
            width: 11px;
            height: 6px;
            bottom: 5px;
            right: -20px;
        }
    }

    &__title-second {
        margin-top: 30px;
        margin-bottom: 14px;
        @include text (18px, 500, 21px, $textColor);
    }

    span {
        @include text (16px, 500, 24px, $textColor);
    }
}