.replies {
    padding-bottom: 44px;
    padding-top: 40px;
    @include media (md) {
        padding-top: 130px;
    }


    .container {
        @extend %container;
    }

    &__title {
        @include text (26px, 400, 40px, $textColor);
        text-align: center;

        @include media (sm) {
            @include text (20px, 500, 30px, $textColor);
            text-align: left;
        }

        @include media (md) {
            @include text (28px, 500, 41px, $textColor);
        }

        @include media (lg) {
            @include text (20px, 500, 40px, $textColor);
        }
    }

    &__card {
        padding-top: 50px;
        padding-bottom: 45px;
        border-bottom: 1px solid #C7C7C7;

        @include media (sm) {
            padding-bottom: 35px;
        }
    }

    &__inner {
        margin-bottom: 17px;

        @include media (sm) {
            display: flex;
        }
    }


    &__wrapper {
        margin-bottom: 12px;
        display: flex;
        width: 300px;

        @include media (sm) {
            margin-bottom: 0px;
        }
    }


    &__photo {
        width: 84px;
        height: 84px;
        margin-right: 18px;

        @include media (sm) {
            width: 100px;
            height: 100px;
        }
    }

    &__pic {
        max-width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    &__box-three {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__name {
        @include text (16px, 500, 20px, $textColor);
        max-width: 160px;
        margin-bottom: 5px;

        @include media (sm) {
            @include text (18px, 500, 22px, $textColor);
            max-width: 179px;
            margin-bottom: 10px
        }
    }

    &__subtitle {
        @include text (14px, 400, 21px, $textColor);
        margin-bottom: 12px;
    }

    &__text {
        @include text (14px, 400, 21px, $textColor);
        max-width: 290px;
        margin-bottom: 30px;

        @include media (xs) {
            max-width: 505px;
        }

        @include media (sm) {
            margin-left: 120px;
        }
    }

    &__block-three {
        display: none;

        @include media (xs) {
            display: block;
        }
    }

    &__text-three {
        @include media (sm) {
            max-width: 495px;
        }
    }

    &__comment {
        margin-bottom: 15px;
        align-self: flex-end;
    }

    &__text--grey {
        @include text (14px, 400, 21px, $textColorLight);
        position: relative;
        margin-left: 15px;

        @include media (sm) {
            margin-bottom: 43px;
        }
    }

    &__text--grey::before {
        background-image: url('../images/replies/ok.png');
        @include pseudo (block, absolute, "");
        background-position: center;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        top: 0;
        left: -20px;
    }

    &__date {
        @include text (14px, 400, 21px, $textColorLight);

        @include media (sm) {
            margin-left: 120px;
        }
    }

    &__card-three {
        display: none;

        @include media (xs) {
            display: block;
            ;
        }
    }

    &__link {
        text-align: center;
        padding-top: 40px;
        margin: 0 auto;
        display: block;
        max-width: 205px;
        @include text (17px, 500, 25px, $linkColor);
        position: relative;

        &::after {
            @include pseudo (block, absolute, '');
            width: 11px;
            height: 6px;
            right: 0;
            bottom: 8px;
            transform: rotate(-90deg);
            background-image: url('../images/photocards/arrow.svg');

            @include media (sm) {
                transform: none;
            }
        }


        &::before {
            position: absolute;
            content: '';
            width: 11px;
            height: 6px;
            top: 50px;
            left: 0px;
            background-image: url('../images/photocards/arrow.svg');
            display: none;

            @include media (sm) {
                display: block;
            }
        }

    }



}