.timetable {
    padding: 65px 0 45px;
    $timetable: &;

    .container {
        @extend %container;
    }

    &__title {
        @include text (26px, 400, 32px, $textColor);
        margin: 0px auto 35px;
        max-width: 278px;
        text-align: center;

        @include media(xs) {
            @include text (26px, 400, 38px, $textColor);
        }

        @include media(sm) {
            @include text(20px, 500, 29px, $textColor);
            margin-left: 0;
            margin-bottom: 30px;
            text-align: left;
        }

        @include media(md) {
            @include text(28px, 500, 40px, $textColor);
            margin-left: 0;
            margin-bottom: 30px;
            text-align: left;
            max-width: 337px;
        }

        @include media(lg) {
            @include text(20px, 500, 29px, $textColor);
            margin-left: 0;
            margin-bottom: 30px;
            text-align: left;
        }
    }

    &__wrapper {
        border: 1px solid #C7C7C7;
        display: flex;
        flex-direction: column;

        @include media(md) {
            max-width: 770px;
        }

        #{$timetable}__day {
            text-align: center;
            padding: 20px 0 15px;
            border-bottom: 0.5px solid #C7C7C7;
            position: relative;

            @include media (xs) {
                padding: 30px 0 20px 20px;
                text-align: left;

                &::after {
                    @include pseudo (block, absolute, '');
                    background-image: url('../images/timetable/calendar.png');
                    background-repeat: no-repeat;
                    width: 35px;
                    height: 35px;
                    top: 22px;
                    left: 235px;
                }
            }
        }


        #{$timetable}__inner {
            padding: 30px 20px 30px;
            border-bottom: 0.5px solid #C7C7C7;

            @include media (xs) {
                display: flex;
                justify-content: space-between;
            }
        }

        #{$timetable}__text {
            border-bottom: 1px solid #C7C7C7;
            padding: 20px 0 15px;
            text-align: center;
        }

        #{$timetable}__sum {
            padding: 10px 0 10px;
        }

        #{$timetable}__btn {
            @include text (14px, 500, 17px, $accentColor);
            border: 2px solid #FC9B09;
            box-sizing: border-box;
            border-radius: 3px;
            width: 130px;
            height: 50px;
            margin-top: 10px;
        }

        #{$timetable}__inner--disabled {
            @include media (xs) {
                border-bottom: none;
            }
        }

        #{$timetable}__rating {
            padding: 30px 0 30px 60px;
        }
    }

}