.organizator {
    display: flex;
    &__img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    &__name {
        margin-bottom: 5px;
    }
    &__prof {
        // margin-bottom: 5px;
        @include text (14px, 400, 21px, $textColor);
    }
    &__link {
        @include text (14px, 500, 21px, $linkColor);
    }
}
