.rating {
    $rating: &;
    position: relative;
    @include flex (center, $flex-direction: column);

    @include media(xs) {
        @include flex (flex-start, center, $flex-direction: row);
    }

    &__reviews {
        @include text(14px, 400, 20px, $textColor);
        position: relative;

        span {
            @include text(14px, 500, 20px, $textColor);

            @include media(xs) {
                @include text(18px, 600, 26px, $textColor);
            }
        }

        @include media(xs) {
            @include text(18px, 400, 26px, $textColor);
            margin-bottom: 0;
            margin-right: 10px;
        }
    }

    &__reviews-img {
        width: 118px;
        height: 17px;
    }

    &__reviews::before {
        content: "";
        background-image: url(../images/info/rate.svg);
        @include background ();
        position: absolute;
        left: -45px;
        bottom: -25px;
        width: 37px;
        height: 41px;

        @include media(xs) {
            bottom: -7px;
        }
    }

        &-group {
            display: inline-flex;

            #{$rating}__icon {
                pointer-events: none;
                font-size: 17px;
            }
            #{$rating}__input {
                position: absolute !important;
                left: -9999px !important;
            }
        
            #{$rating}__label {
                cursor: pointer;
                padding-right: 6px;
            }
        
            #{$rating}__icon--star {
                color: orange;
            }
        
            #{$rating}__icon--none {
                color: #eee;
            }
        
            #{$rating}--none:checked+#{$rating}__label #{$rating}__icon--none {
                color: red;
            }
        
            #{$rating}__input:checked~#{$rating}__label #{$rating}__icon--star {
                color: #ddd;
            }
        
            #{$rating}-group:hover #{$rating}__label #{$rating}__icon--star {
                color: orange;
            }
        
            #{$rating}_input:hover~#{$rating}__label #{$rating}__icon--star {
                color: #ddd;
            }
        
            #{$rating}-group:hover #{$rating}__input--none:not(:hover)+#{$rating}__label #{$rating}__icon--none {
                color: #eee;
            }

        }
        
    
}
