.swiper-container {
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    position: relative;

    .swiper-slide {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .swiper-button-prev, .swiper-button-next{
        top: 35px;
    }
    
    .swiper-button-prev::after {
        font-size: 19px;
        color: #C7C7C7;
    }

    .swiper-button-next::after {
        font-size: 19px;
        color: #C7C7C7;
    }

    .swiper-pagination-bullet {
        background-color: #FC9B09;
    }

}