.header {
    background-color: $primaryColor;

    .container {
        @extend %container;
    }

    &__inner {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 768px) {
            height: 100px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 45px;

        @media screen and (min-width: 576px) {
            margin-right: 36px;
        }

        @media screen and (min-width:768px) {
            width: 130px;
        }
    }

    &__phone-city {
        @include text (14px, 400, 17px, $linkColor);

        @media screen and (min-width: 576px) {
            display: none;
        }
    }

    &__phone {
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
        }

        span {
            @include text (14px, 400, 17px, $textColorLight);
        }

        &__phone-link {
            @include text (14px, 400, 17px, $textColor);
        }
    }

    &__user {
        @media screen and (min-width: 1280px) {
            display: none;
        }
    }
}